:root {
  --blue: #003F62;
  --orange: #EDA415;
  --black: #292D32;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home{
  // width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .body{
    // width: 100%;
    padding: 0 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .swiper-slide{
    width: 100% !important;
  }

  .swiper-pagination-bullet{
    width: 16px !important;
    height: 16px !important;
    border-radius: 8px;
    border: solid 1px #ADADAD !important;
    background-color: transparent !important;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet-active{
    border: none !important;
    background-color: var(--orange) !important;
  }
  

  
  .longCardsMySwiper{
    width: 100% !important;
    margin: 100px 0;
    padding: 0 30px;
    
    .swiper-pagination{
      display: none !important;
    }
    
  .swiper-button-next {
    width: 37px!important;
    height: 37px!important;
    background: url(../../img/swipeArrowRight.png) !important;
    content: none !important;
    position: absolute !important;
    left: unset !important;
    bottom: unset !important;
    top: 50% !important;
    right: 0 !important;

    &::after{
      content: none !important;

    }

  }

  .swiper-button-prev{
    width: 37px!important;
    height: 37px!important;
    font-family: unset !important;
    background: url(../../img/swipeArrowLeft.png) !important;
    content: none !important;
    position: absolute !important;
    left: 0 !important;
    bottom: unset !important;
    top: 50% !important;
    right: unset !important;
    z-index: 10 !important;

    &::after{
      content: none !important;
    }
  }

    .longCards{
      width: 100%;
    display: flex;
    justify-content: space-between;
    }
  }

  .popularProducts{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    .popularProductsHeader{
      color: var(--blue);
      font-family: Poppins;
      font-size: 27px;
      font-weight: 600;
    }

    .popularProductsList{
      width: 40%;
      height: 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;


      button{

        &:hover{
          border: 2px solid  var(--blue);
        }
      }

      button{
        color: var(--blue);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
        height: 45px;
        background-color: transparent;
        border-radius: 60px;
        border: 2px solid  #B5B5B5;
      }
    }
  }

  .cardsContainerSwiper{
    width: 100% !important;
    margin-bottom: 100px;
    padding: 0 !important;

      .cardsContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // grid-template-rows: repeat(2,1fr) ;
        // grid-template-columns: repeat(4,1fr);
        // grid-gap: 25px;
        margin-bottom: 50px;

        // @media (max-width: 1500px ) {
        //   width: 55%;
        //   grid-template-rows: repeat(4,1fr) ;
        // grid-template-columns: repeat(2,1fr);
        // margin-right: 0;
        // }
      }
    
  }




  // .circles{

  //   width: 64px;
  //   height: 16px;
  //   display: flex;
  //   justify-content: space-between;
  //   align-self: center;

  //   span{
  //     width: 16px;
  //     height: 16px;
  //     background-color: var(--black);
  //     border-radius: 8px;
  //   }

  //   .circle1{
  //     background-color: var(--orange);
  //   }
  //   .circle{
  //     border: solid 1px #ADADAD;
  //     background-color: transparent;
  //   }
  // }

  .slideWide{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

    @media(max-width: 1500px){
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .wideWrapper{
      height: 505px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @media(max-width: 1500px){
        width: 100%;
        height: 241px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

    }

  }

  .advantagesWrapper{
    width: 100%;
    height: 155px;
    background-color: #E2F4FF;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
  }

  .ppCardMySwiper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    

    .swiper-slide{
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between !important;
      width: 100% !important;
      margin-bottom: 100px;

      @media(max-width:1500px){
        margin-bottom: 50px;
      }
    }
  
    .swiper{
      display: flex !important;
      flex-direction: column !important;
      justify-content: space-between !important;
      height: 300px !important;
    }
  }
}



  .infoCardsAppWrapper{
    height: 470px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;

    .infoCardsMySwiper{
      width: 100% !important;
      
      
  
      .swiper{
        width: 100% !important;
      }
  
      .infoCardsContainer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 200px;
      }
    }

    .latestText{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;

      .infoCardsLatest{
        font-family: Poppins;
        font-size: 25px;
        font-weight: 600;
        color: var(--blue);
      }

      .infoCardsViewAll{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        color: var(--blue);
      }
    }
    
  }


