:root {
  --blue: #003F62;
  --orange: #EDA415;
  --black: #292D32;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbarWrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .freeReturn{
    color: var(--blue);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
  }
}

a{
  text-decoration: none;
}

.navList{
  width: 508px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  


  li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
      font-weight: 500;
      font-size: 16px;
      font-family: Poppins;
      text-decoration: none;
      color: var(--black)
    }
  }

  .listHome{
    width: 88px;
    
    
  }
  .listCatalog{
    width: 106px;
  }
  .listPages{
    width: 90px;
  }
  
}//------------navList

// .browseCategories{
//   background-color: var(--orange);
//   width: 219px;
//   height: 70px;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;

//   li{
//     list-style: none;
    
//   }

//   p{
//     text-decoration: none;
//     font-family: Poppins;
//     font-size: 16px;
//     font-weight: 500;
//     color: white;
//   }
  
//   img{
//     width: 24px;
//     height: 24px;
//   }
  
// }//------------BrowseCategories
