:root {
  --blue: #003F62;
  --orange: #EDA415;
  --black: #292D32;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.circles{
  width: 64px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  align-self: center;

  span{
    width: 16px;
    height: 16px;
    background-color: var(--black);
    border-radius: 8px;
  }

  .circle1{
    background-color: var(--orange);
  }
  .circle{
    border: solid 1px #ADADAD;
    background-color: transparent;
  }
}

.mainSwiper{
  .swiper-pagination-bullet{
    width: 16px !important;
    height: 16px !important;
    border-radius: 8px;
    border: solid 1px #ADADAD !important;
    background-color: transparent !important;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet-active{
    border: none !important;
    background-color: var(--orange) !important;
  }
}



.main{
  height: 394px;
  padding: 0 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

.leftSide{
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .headerButton{
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1{
    color: var(--blue);
    font-family: Poppins;
    font-size: 43px;
    font-weight: 700;
  }

  .buttonsContainer{
    width: 309px;
    height: 61px;
    display: flex;
    justify-content: space-between;

    button{
      width: 144px;
      height: 61px;
      border-radius: 20px;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 600;
    }

    .shopButton{
      background-color: var(--orange);
      color: white;
      border: none;
    }//------------shopButton

    .viewButton{
      background-color: transparent;
      border: solid 2px var(--blue);
    }//------------viewButton

  }//------------buttonsContainer
  
} //------------leftSide

.rightSide{
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .rightSideCircle{
    width: 120px;
    height: 120px;
    margin-left: 250px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background-color: var(--orange);

    p{
      font-family: Poppins;
      font-size: 21px;
      font-weight: 600;
      color: white;
    }
  }
}

} //------------main