:root {
  --blue: #003F62;
  --orange: #EDA415;
  --black: #292D32;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dropDownItemWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      p{
        color: var(--orange);
        text-decoration: underline;
      }
    }
    p{
      cursor: pointer;
      text-decoration: none;
      font-family: Poppins;
      font-size: 18px;
      color: white;
    }
  }
}