:root {
  --blue: #003F62;
  --orange: #EDA415;
  --black: #292D32;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wideCardWrapper{
  padding: 37px 22px;
  width: 100%;
  height: 241px;
  border: solid 1px var(--blue);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media(max-width:1500px){
    width: 45%;
  }

  
  .leftSide{
    width: 283px;
    height: 169px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;

    .heroImg{
      width: 183px;
      height: 169px;
      margin-right: 60px;
    }
  }

  .rightSide{
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1{
      color: var(--blue);
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
    }
  
    p{
      color: var(--black);
      font-family: Poppins;
      font-size: 18px;
      font-weight: 600;
    }
  
    .stars{
      width: 118px;
      height: 15px;
    }
  }



}